In [1]:
1+1

2

In [2]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
list(range (11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
list(range (1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
list(range (2,22))

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [7]:
name='Yabuki'

In [8]:
len(name)

6

In [9]:
name.upper()

'YABUKI'

upperは文字列専用、特定のデータ専用の機能：メソッド

メソッド
name='yabuki'

len(name)とname.upper()に統一感がない

len()は他のことにも使える,len([0,1,2,3,4])

In [12]:
addres='Tokyo,Japan'
addres.split(',')

['Tokyo', 'Japan']

splitは区切ってくれる

In [13]:
addres.split('o')

['T', 'ky', ',Japan']

In [14]:
addres.index('T')

0

In [15]:
addres.index('p')

8

In [16]:
addres.index('X')

ValueError: substring not found

indexは文字の場所、何文字目かわかる。左から読み取っていく。
Tは0文字目 pは8文字目　Xはないからエラー

In [17]:
addres.upper()

'TOKYO,JAPAN'

upperは文字列を全部大文字にしてくれる。

In [23]:
addres.lower()

'tokyo,japan'

lowerは文字列を全部小文字にしてくれる。

In [29]:
from datetime import *
date_a = date(2008,1,1)
date_b = date(2009,1,1)
result = date_b - date_a
print(result)

366 days, 0:00:00

In [30]:
date_a.year

2008

In [31]:
name.upper()

'YABUKI'

name.upper()
括弧あり：なんらかの処理をする
←メソッド
date_a.year
括弧なし：データにアクセスするだけ
←属性

メソッドと属性を集めたものをオブジェクトという

In [32]:
date.today()

datetime.date(2017, 5, 17)

In [45]:
birthday = date(1997,8,24)

In [46]:
today = date.today()

In [47]:
result = today - birthday

In [48]:
print(result)

7206 days, 0:00:00

In [50]:
today.weekday()

2

In [51]:
date_a

datetime.date(2008, 1, 1)

In [52]:
date_a.weekday()

1

|date|
|year|
|month|
|day|
|

In [57]:
date_c = date(2000,5,5)

In [58]:
tmp = '2000,5,5'

In [59]:
tmp2 = [2000,5,5]